
/* Admin Stuff, forms, etc. */
fieldset.admin label {
	display: block;
	padding: 0px 0px 0px 4px;
	font-weight: bold;
}
fieldset.admin div {
	clear: left;
	margin-bottom: 10px;
}
fieldset.admin input[type="checkbox"] {
	float: left;
	margin: 0px 5px 0px 3px;
}
fieldset.admin .help_text {
	color: #333;
	font-style: italic;
}
ul.pagination_actions {
	display: block;
}
ul.pagination_actions li {
	float: left;
	display: inline;
	list-style: none;
	list-style-position: inside;
	margin: 0px 5px 0px 0px;
}

/* jQuery UI Stuff */
#ui-datepicker-div {
	background: #fff;
	padding: 5px;
	border: 1px solid #eee;
}
a.ui-datepicker-prev {
	width: 35px;
	float: left;
	text-align: left;
}
a.ui-datepicker-next {
	width: 35px;
	float: right;
	text-align: right;
}
div.ui-datepicker-title {
	text-align: center;
}
table.ui-datepicker-calendar {
	padding-bottom: 0px;
	margin-bottom: 0px;
}


/* RED THEME SPECIFIC */
html {
	background: #eee;
}
body {
	background: #eee; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#eee'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#eee)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #b5b5b5,  #eee); /* for firefox 3.6+ */
	height: 400px;
	overflow: visible;
}
.box h2 {
	background: #222;
}
a:hover {
	color: #a00c00;
}
h1#branding {
	background: url('/minerva/img/minerva-logo-red.png') no-repeat;
	padding-left: 25px;
	padding-top: 40px;
	border-bottom: 1px solid #8c0b02;
}
h1#branding a {
	width: 194px;
	display: block;
	height: 30px;
	text-indent: -2000px;
}
#admin_header {
	background: url('/minerva/img/admin-header-bg-red.png') #6c120a repeat-x;
}
ul#main_administration_menu, ul.admin_menu {
	/*border-top: 1px solid #2c2c2c;*/
	border-top: 1px solid #111;
}
ul#main_administration_menu li a, ul#main_administration_menu, ul.admin_menu li a, ul.admin_menu {
	background: #222 !important;
}
ul#main_administration_menu li a:hover, ul.admin_menu li a:hover {
	color: #d71d04 !important;
	background: #111 !important;
}
ul.admin_menu li a.current {
	background: #888;
}

.pagination .prev, .pagination .next, .pagination .numbers {
    float: left;
}
.pagination .prev {
    margin-right: 5px;
}
.pagination .next {
    margin-left: 5px;
}
.pagination .current {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    color: #A00C00;
}